.card--equal-hight
  height 100% !important
  min-height: 274px

table.table tbody tr:hover
  background: rgba(0,0,0,0.02)

.table__overflow.elevation-1
  overflow-x: inherit
  overflow-y: visible

.application--footer > main > .container
  min-height: calc(100vh - 84px)
